<div class="panel panel-primary height">
  <div class="panel-heading"><b>Calcule su cuota mensual</b></div>
  <div class="panel-body">
    <div class="credit-card-div">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h5>¿En cuánto tiempo quieres pagarlo?</h5>
          </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <md-slider id="red-slider" min="1" max="12" step="1" [attr.value]="value" tickInterval="auto" style="width: 500px;"></md-slider>
              {{value}} Meses
            </div>
        </div>
        <div class="row ">
          <div class="col-md-3 col-sm-3 col-xs-6 pad-adjust">
            <h5>Así son tus condiciones de pago</h5>
            Importe: 10.000$
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 pad-adjust">
            <h5>Año caducidad</h5>
            Plazo: 6 meses
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 pad-adjust">
            <h5>Cuota</h5>
            419$/mes
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 pad-adjust">
            Comsiones: 0$
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust text-center">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust text-center">
            <button type="submit" class="btn btn-primary">Siguiente</button>
          </div>
        </div>
    </div>
  </div>
</div>

<style>

  #red-slider .md-thumb:after, #red-slider .md-track-fill{
    background-color: greenyellow !important;
    border-color: greenyellow !important;
  }
  #red-slider .md-focus-thumb, #red-slider .md-focus-ring{
    background-color: greenyellow;
  }

</style>


