<div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Datos de pago</div>
                        <div class="panel-body">
                            <strong>Introduzca los datos de su tarjeta</strong><br>
                            <strong>Seleccione la forma de pago</strong><br>
                            
                            <button (click)="onNext()">Next</button>
                        </div>
                    </div>
                </div>