<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="text-center">
				<i class="fa fa-search-plus pull-left icon"></i>
				<h2>Onboarding - Secure Checkout</h2>
			</div>
			<hr>

			<div class="row">
				 <div class="col-xs-12 col-md-8 col-lg-8 pull-left"> 
					<app-on-person [hidden]="!activations.onPerson"></app-on-person>
					<div class="row-fade"
						[ngClass]="{'row-semifaded': activations.onType}">
						<app-on-payment [hidden]="!activations.onPayment"></app-on-payment>
					</div>
					<div class="row-fade"
						[ngClass]="{'row-semifaded': !activations.onType}">
						<app-on-type [hidden]="!activations.onPayment"></app-on-type>
					</div>
					<div class="row-fade">
						<app-on-ine [hidden]="!activations.onIne"></app-on-ine>
					</div>
				</div>
				 <div class="col-xs-12 col-md-4 col-lg-4 pull-right"> 
					<app-on-overview></app-on-overview>

					<div class="row-fade"
						[ngClass]="{'row-faded': !activations.onPersonCard}">
						<app-on-person-card></app-on-person-card>
					</div>


				</div>







			</div>
		</div>
	</div>
</div>


