<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="text-center">
				<i class="fa fa-search-plus pull-left icon"></i>
				<h2>Onboarding - Secure Checkout</h2>
			</div>
			<hr>

			<div class="row">
				<app-on-person [hidden]="activations.onPerson"></app-on-person>
			
				<div class="row-fade"
					[ngClass]="{'row-semifaded': activations.onPayment}">
					<app-on-overview></app-on-overview>
					<app-on-payment [hidden]="!activations.onPerson"></app-on-payment>
				</div>

				<div class="row-fade" [hidden]="!activations.onPerson"
					[ngClass]="{'row-semifaded': !activations.onType}">
					<app-on-type></app-on-type>
				</div>
			</div>
			<div class="row row-fade"
				[ngClass]="{'row-faded': !activations.onSignature}">
				<app-on-person-card></app-on-person-card>
			</div>
		</div>
	</div>
</div>


