<h3>¡Bienvenido a PayCredit!</h3>
<h4>La forma más rápida e inteligente de realizar tus pagos.</h4>

<div class="modal-dialog">
  <div class="registermodal-container">
  	<hr>
    <h3 style="color:grey;">Log In to PayCredit</h3>
    <form [formGroup]="myForm" (ngSubmit)="onSignin()">
        <div class="form-group">
            <input formControlName="email" type="email" id="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input formControlName="password" type="password" id="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-block btn-primary">Log In</button>
        <hr>
        <div class="text-center">
        Don't have an account?
        <a [routerLink]="['/register']" style="cursor: pointer"> Register</a>
        </div>
        
    </form>

  </div>
</div>
