
<div class="container text-center">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="panel panel-primary height">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <i class="glyphicon glyphicon-remove" style="font-size: 150px; color: #D62C1A;"></i>
          <h3>Operación de pago cancelada</h3>
          <hr>
          <h4>Estimado cliente,</h4>
          <p>Su operación de pago ha sido cancelada con éxito, si lo desea, puede volver a intentar pagar más tarde volviendo a elegir LoanPlatform como forma de pago.</p>
          <hr>
          <button class="btn btn-primary" [routerLink]="['/order']">Finalizar</button>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</div>
