<div class="panel panel-primary height">
  <div class="panel-heading">
    <b>Seleccione su modo de pago</b>
  </div>
  <div class="panel-body">
    <div class="type-div">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <form [formGroup]="myForm">
            <h5>Modo de pago</h5>
            <select class="form-control" name="cc_exp_mo" formControlName="type">
              <option value="credito">Tarjeta de crédito</option>
              <option value="aplazado">Pago aplazado</option>
            </select>
            <div class="row">
              <div class="col-md-12 pad-adjust">
                <div class="checkbox">
                  <label> <input type="checkbox" class="text-muted">He
                    leído y acepto los <a>términos y condiciones</a>
                  </label>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust text-center">
              <button (click)="onBack()" type="submit" class="btn btn-primary">Atrás</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust text-center">
              <button (click)="submitForm()" [disabled]="!myForm.valid" type="submit" class="btn btn-success">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
