          <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Sus productos</strong>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Producto</strong></td>
                                    <td class="text-center"><strong>Precio</strong></td>
                                    <td class="text-center"><strong>Cantidad</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders">
                                    <td>{{order.nameOrder}}</td>
                                    <td>{{order.priceOrder}}€</td>
                                    <td>{{order.quantOrder}}</td>
                                    <td>{{order.totalOrder}}€</td>
                                </tr>
                                <tr>
                                    <td class="highrow"></td>
										<td class="highrow"></td>
										<td class="highrow"><strong>Subtotal</strong></td>
										<td class="highrow text-right">{{orderToken.subtotal}}€</td>
                                </tr>
                                <tr>
                                   <td class="emptyrow"></td>
										<td class="emptyrow"></td>
										<td class="emptyrow"><strong>Envío</strong></td>
										<td class="emptyrow text-right">{{orderToken.send}}€</td>
                                </tr>
                                <tr>
                                   <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
										<td class="emptyrow"></td>
										<td class="emptyrow"><strong>Total</strong></td>
										<td class="emptyrow text-right">{{orderToken.total}}€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>