<app-header></app-header>

<div class="container">
	<router-outlet></router-outlet>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="margin-bottom: 0; margin-top: 5px;" [hidden]="!auth.getRegistrado()">
  <div class="container">
    <div class="collapse navbar-collapse" id="centerednav">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="#">Política de cookies</a></li>
        <li><a class="navbar-brand" href="#">Accesibilidad</a></li>
        <li><a class="navbar-brand" href="#">Seguridad</a></li>
        <li><a class="navbar-brand" href="#">Tipos y comisiones</a></li>
        <li><a class="navbar-brand" href="#">Información Legal</a></li>
        <li><a class="navbar-brand" href="#">Política de reembolso</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</footer>


