<div class="container-fluid">
<div class="panel panel-primary height">
  <div class="panel-heading"><b>Confirmación de pago</b></div>
  <div class="panel-body">
    <div class="credit-card-div">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4><b>Pago a realizar con</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 pad-adjust">
         <h5>Tarjeta de crédito x-{{tarjeta?.card | slice:12:16}}</h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 pad-adjust">
          {{orderToken.subtotal | currency:'EUR':true:'1.2-2'}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button (click)="onNext()" type="submit" class="btn btn-success btn-block">Pagar ahora</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
